*{
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

#color1{
    background-color: #D9D9D9;
    font-size: 20px;
}
#color2{
    background-color: #B8B4B4;
    font-size: 20px;
}
#color3{
    background-color: #A89B95;
    font-size: 20px;
}
#color4{
    background-color: #A68474;
    font-size: 20px;
}
/*Color palette to be used*/

/*header*/
.simplified-header-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 2% 0;
    padding: 0 5%;
    background-color: #D9D9D9;
    border: #B8B4B4 solid 1px;
}

.busqueda {
    display: flex;
    width: 25%;
    border-radius: 3px;
    background-color: #B8B4B4 ;
    justify-content: space-between;
    
    
}

.busqueda input {
    
    flex-grow: 0.8;
    background: transparent;
    border: transparent;
    font-size: 12px;
    padding: 8px;
    
}

.busqueda button[type="submit"] {
    flex-grow: 0;
    background-color: transparent;
    color: white;
    margin-right: 5px;
    padding: 5px;
    border: 0px;
}

.main-title{
    margin: 5px 0;
}

.estilo-nav{
    color:#A68474;
    text-decoration: none;
    padding: 15px;
    display: inline-block;
    position: relative;
    font-size: 1em;
    border-radius: 3px;
}

.estilo-nav_2{
    color:#A68474;
    text-decoration: none;
    padding: 15px;
    display: inline-block;
    position: relative;
    font-size: 1em;
    border-radius: 3px;
}

.imagen-logo{
    width: 30%;
}

/*finish header*/
.center{
    display: block;
}
.conteiner{
    display: block;
    width: 70%;
    height: 500px;
    margin: auto;
}

.imagen-producto{
    width: 100%;
    height: 100%;
    padding: 2px;
}

ul, li {
    padding: 0;
    margin: 0;
    list-style: none;
}

ul.slider{
    position: relative;
    width: 100%;
    height: 100%;
}

ul.slider li {
    position: absolute;
    left: 0px;
    top: 0px;
    opacity: 0;
    width: inherit;
    height: inherit;
    transition: opacity 0.8s;
    
    
}

ul.slider li img{

    width: 100%;
    height: 100%;
    object-fit: cover;
}

ul.slider li:first-child {
    opacity: 1;
    
}

ul.slider li:target {
    opacity: 1; 
    
}

.menu{
    position: relative;
    z-index: 100;
    text-align: center;
    margin: -45px;
}

.menu li{
  display: inline-block;
  text-align: center;
}

.menu li a{
  display: inline-block;
  background-color: white;
  padding:0.5px;
  width: 10px;
  height: 10px;
  font-size: 0px;
  border-radius: 100%;
}

.emergent-info{
    background-color: #000000;
    color: #FFFFFF;
    text-align: center;
}
.emergent-info h4{
    padding: 3px 0;
    margin: 0;
}
.dropdown-menu-container{
    border: #B8B4B4 5px solid;
    padding: 20px;
    width: 70%;
    height: 425px;
    color: #A68474;
}
.upper-dropdown-options{

    display: flex;
    justify-content: space-between;
    font-size: 2em;
    width: auto;
}
.categories-list{
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    margin: 10px 0 0 0;
}
.categories-list li{
    list-style: none;
    width: 100%;
}
.categories-list a{
    font-size: 24px;
    display: flex;
    justify-content: space-between;
    text-decoration: none;
    margin: auto;
    width: 80%;
    color: rgba(0, 0, 0, 0.8);
}
.categories-list hr{
    border: #A89B95 solid 1px;
    width: 100%;
}
.navigation-form{
    width: 80%;
    margin: auto;
}
.navigation{
    display: flex;
    width: 100%;
}
.nav-bar{
    width: 100%;
}
.simplified-header-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 2% 0;
    padding: 0 5%;
    background-color: #D9D9D9;
    border: #B8B4B4 solid 1px;
}
.simplified-header-container i{
    font-size: 2rem;
    color: #A68474;
}
.main-title{
    margin: 5px 0;
}



.center{
    text-align: center;
    
}

.also-like {
    display:flex;
    flex-wrap: nowrap;
    align-items: center;
    margin-left: 5%;
    margin-top: 30px;

}

.imagen-alsolike{
    width: 85%;
    
}








/* Footer */
footer{
    padding: 20px;
    margin-top: 40px;
    background-color: #B8B4B4;

}
.div-footer{
   
    font-size: 85%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    
}

.estilo-input {
    display: inline-block;
    background-color:#D9D9D9;
    color: white;
    padding: 5px 15px;
    border-radius: 3px;
    border-color: transparent;
}

.submit{
    margin-left: 4px;
    background-color: #A68474;

    color: white;
    padding: 5px 15px;
    border-radius: 3px;
    border-color: transparent;
}

.copyright{
    display: flex;
    justify-content: center;
    margin-top: 20px;
    font-size: 12px;
}


.footer-categories-container a{
    font-size: 24px;
    display: flex;
    justify-content: space-between;
    text-decoration: none;
    margin: auto;
    width: 80%;
    color: rgba(0, 0, 0, 0.8);
}
.footer-categories-container h3{
    margin: 0;
}
.footer-categories-container hr{
    width: 90%;
    color: #A68474;
}
.copyright-container{
    width: 90%;
    text-align: center;
    margin: auto;
    color: #A89B95;
}
/*finish footer*/

/*[END] Mobile First ready */
@media (min-width: 769px){
    .dropdown-menu-container{
        display: none;
    }
    .concealed-bars{
        display: none;
    }
    .simplified-header-container{
        display: flex;
        padding: 0;
    }
    .main-title-container{
        text-align: center;
        flex-grow: 100;
        justify-self: center;
    }
    .main-title{
        width: 30%;
        margin: auto;
    }
    .shopping-cart-container{
        text-align: right;
    }
    .horizontal-categories-nav-container{
        text-align: left;
    }
    .horizontal-categories-nav{
        display: flex;
        padding: 0;
    }
    .horizontal-categories-nav li{
        list-style: none;
        padding: 0 10px;
        border-left: 1px solid #B8B4B4; 
        border-right: 1px solid #B8B4B4; 
    }
    .navigation{
        width: 25%;
        height: 30px;
    }
    .navigation button i{
        font-size: 1.5em;
    }
}