main img{
object-fit: cover;
}

.listado-title{
    text-align: center;
    
}
.create-product-button-container{
    display: flex;
    margin: 0 10%;
    padding: 2%;
    border-top: 1px #A89B95 solid;
    border-bottom: 1px #A89B95 solid;
}
.item-price{
    font-size: 1em;
}
.edit-product-button-container{
    display: flex;
    margin: 0 10%;
}
.listado-articles {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.listado-articulo{
    width: 49%;
    padding: 10px;
    display: inline-block;
    border-bottom: #A89B95 1px solid;
}
.listado-articulo button{
    margin-top: -10px;
    background-color: #A89B95;
}
.imagen-listado{
    width: 85%;
    height: 50%;
    border-radius: 2px;
    object-fit: cover;
}
.link-to-detail{
    text-decoration: none;
    color: #FFFFFF;
}
.info-listado-container{
    position: relative;
    transition: 200ms;
}
.view-product-hidden{
    position: absolute;
    font-size: 2em;
    left: 0;
    top: 25%;
    width: 100%;
    text-shadow: 2px 2px 1px black;
    visibility: hidden;
}
.info-listado-container:hover {
    opacity: 80%;
}
.info-listado-container:hover .view-product-hidden{
    visibility: visible;
}

.listado-button{
    margin-top: -20px;
    color: white;
    background-color: #A89B95;
    padding: 10px 20px;
    border: 2px;
    border-radius: 3px;
    transition-property: text-decoration;
    transition-duration: 0.8s;
    transition-timing-function: linear;
    transition-delay: 0.2s;
}

.listado-button:hover{
    margin-top: -20px;
    color: white;
    background-color: #816b62;
    padding: 10px 20px;
    border: 2px;
    border-radius: 3px;
}

@media(min-width: 769px){
    .listado-articulo{
        width: 33%;
        padding: 10px;
        display: inline-block;
    }
}