
.users-listado-title{
    text-align: center;
    
}

.listado-users {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.listado-usuario{
    width: 33%;
    padding: 10px;
    
}

.imagen-usuario{
    width: 85%;
    border-radius: 2px;
    
}


.listado-button{
    margin-top: -20px;
    color: white;
    background-color: #A89B95;
    padding: 10px 20px;
    border: 2px;
    border-radius: 3px;
    transition-property: text-decoration;
    transition-duration: 0.8s;
    transition-timing-function: linear;
    transition-delay: 0.2s;
}

.listado-button:hover{
    margin-top: -20px;
    color: white;
    background-color: #816b62;
    padding: 10px 20px;
    border: 2px;
    border-radius: 3px;
}

.user-info-container-ud{
    flex-grow: 1;

    
    justify-content: space-around;
    margin: 5%;
    align-items: flex-start;
}

.users-buttons{
    padding: 10px;
    background-color: #A89B95;
    border: 1px solid #A89B95;
    color: #FFFFFF;
    border-radius: 3px;
    transition: 2ms;
}

.users-buttons:hover{
    padding: 10px;
    background-color: #8b7f79;
    border: 1px solid #8b7f79;
    color: #FFFFFF;
    border-radius: 3px;
    
}