*{
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

main{
    text-align: center;
}
.main-instructions-container{
    margin-top: 30px;
    padding-top: 10px;
}
main{
    background-color: #D9D9D9;
    margin: 10%;
    border-radius: 50px;
    
}
.main-login-form{
    padding: 30px;
}

.contenedor_login{
    margin: 10%;
}

.main-login-form button{
    padding: 5px;
    background-color: #D9D9D9;
}
.main-login-form input{
    margin: 7px;
    width: 100%;
}
.t-and-c-container, .newsletter-container{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.toggles-container input{
    width: 20px;
}

/*.create-account-button-container{
    background-color: #A68474;
}*/

.estilo-input {
    display: inline-block;
    background-color:#D9D9D9;
    color: white;
    padding: 5px 15px;
    border-radius: 3px;
    border-color: transparent;
}

.submit{
    margin-left: 4px;
    background-color: #A68474;

    color: white;
    padding: 5px 15px;
    border-radius: 3px;
    border-color: transparent;
}