main{
    text-align: center;
    background-color: #D9D9D9;
    
    height: 100%;
    width: 100%;
}


.main-login-form{
    padding: 30px;
}
.main-login-form button{
    padding: 10px;
    background-color: #A89B95;
    border: 1px solid #A89B95;
    color: #FFFFFF
}
.main-login-form input{
    margin: 7px;
    width: 100%;
    padding: 8px;
    border-color: transparent;
    border-radius: 3px;
    background-color: #B8B4B4;
    
}

.main-inputs-container{
    max-width: 600px;
    margin: auto;
    
    
}


.send-button{
    margin-top: -20px;
    color: white;
    background-color: #A89B95;
    padding: 10px 20px;
    border: 2px;
    border-radius: 3px;
    transition-property: text-decoration;
    transition-duration: 0.8s;
    transition-timing-function: linear;
    transition-delay: 0.7s;
    text-decoration: none;
}

.send-button:hover{
    margin-top: -20px;
    color: white;
    background-color: #816b62;
    padding: 10px 20px;
    border: 2px;
    border-radius: 3px;
}

/*Log Out*/
.logout-form{
    margin: 5% 10% 20%;
}
.goodbye-sign{
    border-top: #A89B95 solid 1px;
    border-bottom: #A89B95 solid 1px;
}
.goodbye-sign *{
    margin: 5%;
}
.logout-buttons-container{
    margin-top: 5% !important;
    width: 70%;
    margin: auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    
}
.logout-buttons-container div{
    width: 40%;
    max-width: 150px;
}

.logout-buttons-container button{
    width: 100%;
    margin-top: -20px;
    color: white;
    background-color: #A89B95;
    padding: 10px 20px;
    border: 2px;
    border-radius: 3px;
    transition-property: text-decoration;
    transition-duration: 0.8s;
    transition-timing-function: linear;
    transition-delay: 0.7s;
    text-decoration: none;
}

.logout-buttons-container button:hover{
        margin-top: -20px;
        color: white;
        background-color: #816b62;
        padding: 10px 20px;
        border: 2px;
        border-radius: 3px;
    }
    



@media (min-width: 769px){
    .logout-buttons-container{
        width: 55%;
    }
}