*{
    box-sizing: border-box;
    font-family: 'Actor', sans-serif;
}
/* Body */

body{
    font-family: 'Actor', sans-serif;
    box-sizing: border-box;
    background: #D9D9D9;
}

p{
    font-size: 1em;
    font-weight: 100;
}

main{
    margin: auto;
}

h1{
    font-size: 25px;
}

h2{
    font-size:20px;
    
}

h3{
    font-size:10px;
}

/* Header */
/*  Header Container   */
.simplified-header-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 2% 0;
    padding: 0 1%;
    background-color: #D9D9D9;
    border-top: #B8B4B4 solid 2px;
    border-bottom: #B8B4B4 solid 2px;
}
.simplified-header-container i{
    font-size: 2em;
    color:#A68474;
}
/*  Fin Header Container    */

.menu-hamburguesa{
    padding: 8px;
    color: white;
    text-align: end;
}

.busqueda {
    display: flex;
    width: 25%;
    border-radius: 3px;
    background-color: #B8B4B4 ;
    display: none;
}

.busqueda input {
    background: transparent;
    border: transparent;
    font-size: 1em;
    padding: 8px;
    width: 75%;
}
.busqueda button[type="submit"] {
    width: auto;
    font-size: 80%;
    background-color: transparent;
    color: white;
    padding: 5px;
}

.main-title-container{
    width: 50%;
}
.imagen-logo{
    width: 45%;
}

.header-icons-container{
    display: flex;
    width: 4%;
    justify-content: space-around;
}
/*  Elementos ocultos en version mobile  */
.estilo-nav{
    color:#A68474;
    text-decoration: none;
    padding: 5px 15px;
    display: inline-block;
    position: relative;
    font-size: 1em;
    border-radius: 3px;
    display: none;
}
.emergent-info{
    background-color: #000000;
    color: #FFFFFF;
    text-align: center;
}
.emergent-info h4{
    padding: 3px 0;
    margin: 0;
}
.dropdown-menu-container{
    border: #B8B4B4 5px solid;
    padding: 20px;
    width: 70%;
    height: 425px;
    color: #A68474;
}
.upper-dropdown-options{
    display: flex;
    justify-content: space-between;
    font-size: 2em;
    width: auto;
}
.deployable-categories-header{
    height: 70%;
}
.categories-list-header{
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    margin: 20px 0 0 0;
    height: 100%;
    align-content: space-between;
}
.categories-list-header li{
    list-style: none;
    width: 100%;
}
.categories-list-header a{
    font-size: 24px;
    display: flex;
    justify-content: space-between;
    text-decoration: none;
    margin: auto;
    width: 80%;
    color: rgba(97, 51, 51, 0.5);
}
.categories-list-header hr{
    border: #A89B95 solid 1px;
    width: 100%;
}
.navigation-form-dropdown-menu{
    width: 100%;
    margin: 10px 0px;
}
.navigation-dropdown-menu{
    display: flex;
    width: 100%;
}
.nav-bar{
    width: 100%;
}
/*  Fin de elementos ocultos  */


/* Footer */

footer{
    padding: 20px;
    margin-top: 40px;
    background-color: #B8B4B4;
}
.div-footer{
    display: flex;
    justify-content: space-around;
    text-align: center;
}
.div-footer p{
    font-size: 1em;
    font-weight: 100;
}
.bloque-footer{
    width: 30%;
}

.estilo-input {
    display: inline-block;
    background-color:#D9D9D9;
    color: white;
    padding: 5px 15px;
    border-radius: 3px;
    border-color: transparent;
    width: 100%;
    margin: 5px 0;
}

.submit{
    margin-left: 4px;
    background-color: #A68474;

    color: white;
    padding: 5px 15px;
    border-radius: 3px;
    border-color: transparent;
}


.copyright{
    display: flex;
    justify-content: center;
    margin-top: 20px;
    font-size: 0.8em;
    opacity: 0.8;
}


/* MEDIA QUERYS */

@media (min-width: 769px){
    .dropdown-menu-container{
        display: none;
    }
    .concealed-bars{
        display: none;
    }
    .simplified-header-container{
        display: flex;
        padding: 0;
    }
    .main-title-container{
        text-align: center;
        flex-grow: 100;
        justify-self: center;
    }
    .main-title{
        width: 30%;
        margin: auto;
    }
    .horizontal-categories-nav-container{
        text-align: left;
        width: 45%;
    }
    .horizontal-categories-nav{
        display: flex;
        padding: 0;;
    }

    .horizontal-categories-nav li{
        list-style: none;
        padding: 0 10px;
        border-left: 1px solid #B8B4B4; 
        border-right: 1px solid #B8B4B4;
    }
    .estilo-nav{
        display: block;
    }
    .navigation-dropdown-menu{
        width: 25%;
        height: 30px;
    }
    .navigation-dropdown-menu button i{
        font-size: 1.5em;
    }
}


