
/* Product Detail */

.conteiner-pd{
    width: 100%;
    
}


.imagen-producto-pd{
    float: left;
    width: 55%;
    padding: 2px;
    

}

.producto-pd{
    margin-left: 57%; 
    text-align: left;
}

.h2precio{
    font-size: 20px;
}

.social-icons-pd {
    font-size: 25px;
}

.elegir-medidas input{
    display: none;
}

.mm{
    font-weight: bold;
    
}


.elegir-medidas{
    display: flex;
    margin-bottom: 15px;
}

.label-radio-pd{

    background: #B8B4B4;
    padding: 5px 15px;
    display: inline-block;
    position: relative;
    font-size: 1em;
    border-radius: 3px;
      
}

.select-option{
font-size: 13px;
}

.comprar-button {
color: white;
background-color: #A89B95;
padding: 10px 10px;
border: 2px;
border-radius: 3px;
}


.center{
    text-align: center;
    
}

.also-like {
    display:flex;
    flex-wrap: nowrap;
    align-items: center;
    margin-left: 5%;
    margin-top: 30px;
    

}

.imagen-alsolike{
    width: 85%;
    
}