
/* Product Detail */

.conteiner-pd{
    width: 100%;
    
}


.imagen-producto-pd{
    float: left;
    width: 55%;
    padding: 2px;
    

}

.conteiner-pd ul, li {
    padding: 0;
    margin: 0;
    list-style: none;
}

ul.slider-pd{
    position: relative;
    width: 100%;
    height: 450px;
  
}

ul.slider-pd li {
    position: absolute;
    left: 0px;
    top: 0px;
    opacity: 0;
    width: inherit;
    height: inherit;
    transition: opacity 0.8s;
    
    
}

ul.slider-pd li img{

    width: 100%;
    height: 100%;
    object-fit: cover;
}

ul.slider-pd li:first-child {
    opacity: 1;
    
}

ul.slider-pd li:target {
    opacity: 1; 
    
}

.menu-pd{
    position: relative;
    z-index: 100;
    text-align: center;
    margin: -45px;
}

.menu-pd li{
  display: inline-block;
  text-align: center;
}

.menu-pd li a{
  display: inline-block;
  background-color: white;
  padding:0.5px;
  width: 10px;
  height: 10px;
  font-size: 0px;
  border-radius: 100%;
}

.producto-pd{
    margin-left: 57%; 
    
}

.social-icons {
    font-size: 20px;
}

.elegir-material input{
    display: none;
}

.mm{
    font-weight: bold;
    
}

.elegir-material{
    display: flex;
    margin-bottom: 15px;
    
}

.elegir-material:checked{
    background-color: black;
}

.elegir-medidas{
    display: flex;
    margin-bottom: 15px;
}

.label-radio-pd{

    background: #B8B4B4;
    padding: 5px 15px;
    display: inline-block;
    position: relative;
    font-size: 1em;
    border-radius: 3px;
      
}

.proximamentecantidad{
    font-size: 10px;
}

.boton-comprar-pd {
color: white;
background-color: #A89B95;
padding: 10px 10px;
border: 2px;
border-radius: 3px;
}

.center-pd{
    text-align: center;
}

.also-like-pd {
    display:flex;
    flex-wrap: nowrap;
    align-items: center;
    margin-left: 5%;

}

.imagen-alsolike-pd{
    width: 85%;
    
}

.info-alsolike-pd{
    width: 85%;
    text-align: center;
    
    
    
}








