
/* Product Detail */

.conteiner-pd{
    width: 100%;
    padding: 2px;
    display: flex;
    justify-content: space-around;
}


.imagen-producto-pd{
    
    width: 40%;
    padding: 2px;
    border-radius: 3px;
    

}

.producto-pd{
    flex-grow: 1;
    margin-left: 2%;
    text-align: left;
}

.h2precio{
    font-size: 20px;
}

.social-icons-pd {
    font-size: 25px;
}

.elegir-medidas input{
    display: none;
}

.mm{
    font-weight: bold;
    
}


.elegir-medidas{
    display: flex;
    margin-bottom: 15px;
}

.label-radio-pd{

    background: #B8B4B4;
    padding: 5px 15px;
    display: inline-block;
    position: relative;
    font-size: 1em;
    border-radius: 3px;
      
}

.select-option{
font-size: 13px;
}

.comprar-button {
color: white;
background-color: #A89B95;
padding: 10px 10px;
border: 2px;
border-radius: 3px;
}
.comprar-button a{
    text-decoration: none;
    color: #FFFFFF;
}

.center{
    text-align: center;
    
}

.also-like {
    display:flex;
    flex-wrap: nowrap;
    align-items: center;
    /*margin-left: 5%;
    margin-top: 30px;
    */
    margin: 0;
}
.also-like .articulo{
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
}
.imagen-alsolike{
    width: 85%;
    
}

