*{
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
/*
#D9D9D9
#B8B4B4
#A89B95
#A68474
*/
#color1{
    background-color: #D9D9D9;
    font-size: 20px;
}
#color2{
    background-color: #B8B4B4;
    font-size: 20px;
}
#color3{
    background-color: #A89B95;
    font-size: 20px;
}
#color4{
    background-color: #A68474;
    font-size: 20px;
}
/*Color palette to be used*/

main{
    text-align: center;
    background-color: #D9D9D9;
    
    height: 100%;
    width: 100%;
}
.main-instructions-container{

    padding-top: 10px;
    
}
.main-register-form{
    padding: 30px;
}
.main-register-form button{
    padding: 5px;
    background-color: #D9D9D9;
}
.main-register-form input{
    margin: 7px;
    width: 100%;
}
.main-inputs-container{
    max-width: 600px;
    margin: auto;
}
.t-and-c-container, .newsletter-container{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.toggles-container div{
    max-width: 600px;
    margin: auto;
    text-align: left;
}
.toggles-container input{
    width: 20px;
}

.add-profile-pic{
    display: flex;
    align-items: center;
}