*{
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
/*
#D9D9D9
#B8B4B4
#A89B95
#A68474
*/
#color1{
    background-color: #D9D9D9;
    font-size: 20px;
}
#color2{
    background-color: #B8B4B4;
    font-size: 20px;
}
#color3{
    background-color: #A89B95;
    font-size: 20px;
}
#color4{
    background-color: #A68474;
    font-size: 20px;
}
/*Color palette to be used*/

.emergent-info{
    background-color: #000000;
    color: #FFFFFF;
    text-align: center;
}
.emergent-info h4{
    padding: 3px 0;
    margin: 0;
}
.dropdown-menu-container{
    border: #B8B4B4 5px solid;
    padding: 20px;
    width: 70%;
    height: 425px;
    color: #A68474;
}
.upper-dropdown-options{

    display: flex;
    justify-content: space-between;
    font-size: 2em;
    width: auto;
}
.categories-list{
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    margin: 10px 0 0 0;
}
.categories-list li{
    list-style: none;
    width: 100%;
}
.categories-list a{
    font-size: 24px;
    display: flex;
    justify-content: space-between;
    text-decoration: none;
    margin: auto;
    width: 80%;
    color: rgba(0, 0, 0, 0.8);
}
.categories-list hr{
    border: #A89B95 solid 1px;
    width: 100%;
}
.navigation-form{
    width: 80%;
    margin: auto;
}
.navigation{
    display: flex;
    width: 100%;
}
.nav-bar{
    width: 100%;
}
/* Here finishes the option menu that is concealed behind the bars menu */
.simplified-header-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 2% 0;
    padding: 0 5%;
    background-color: #D9D9D9;
    border: #B8B4B4 solid 1px;
}
.simplified-header-container i{
    font-size: 2rem;
    color: #A68474;
}
.main-title{
    margin: 5px 0;
    flex-grow: 1;
}
/* End of elements of the header */

main{
    text-align: center;
    background-color: #D9D9D9;
}
.main-instructions-container{
    margin-top: 30px;
    padding-top: 10px;
}
.main-register-form{
    padding: 30px;
}
.main-register-form button{
    padding: 5px;
    background-color: #D9D9D9;
}
.main-register-form input{
    margin: 7px;
    width: 100%;
}
.main-inputs-container{
    max-width: 600px;
    margin: auto;
}
.t-and-c-container, .newsletter-container{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.toggles-container div{
    max-width: 600px;
    margin: auto;
    text-align: left;
}
.toggles-container input{
    width: 20px;
}
.footer-categories-container a{
    font-size: 24px;
    display: flex;
    justify-content: space-between;
    text-decoration: none;
    margin: auto;
    width: 80%;
    color: rgba(0, 0, 0, 0.8);
}
.footer-categories-container h3{
    margin: 0;
}
.footer-categories-container hr{
    width: 90%;
    color: #A68474;
}
.copyright-container{
    width: 90%;
    text-align: center;
    margin: auto;
    color: #A89B95;
}
@media (max-width: 769px){
    .horizontal-categories-nav-container{
        display: none;
}
.simplified-header-container .navigation{
    width: 50%;
}
}
/*[END] Mobile First ready */
@media (min-width: 769px){
    .dropdown-menu-container{
        display: none;
    }
    .concealed-bars{
        display: none;
    }
    .simplified-header-container{
        display: flex;
        padding: 0;
    }
    .main-title-container{
        text-align: center;
        flex-grow: 100;
        justify-self: center;
    }
    .main-title{
        width: 30%;
        margin: auto;
    }
    .shopping-cart-container{
        text-align: right;
    }
    .horizontal-categories-nav-container{
        display: block;
        text-align: left;
    }
    .horizontal-categories-nav{
        display: flex;
        padding: 0;
    }
    .horizontal-categories-nav li{
        list-style: none;
        padding: 0 10px;
        border-left: 1px solid #B8B4B4; 
        border-right: 1px solid #B8B4B4; 
    }
    .navigation{
        width: 35%;
        height: 30px;
    }
    .navigation button i{
        font-size: 1.5em;
    }
}