
.primerArticulo{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-left: 15%;
    margin-right: 15%;
    border-radius: 10px;
    padding: 1%;
}

.silla{
    width: 65%;
    height: 65%;
    margin-right: 5%;
    border-bottom: 1px solid #ebebeb;
    display: flex;
    transition: all 0.2s;
    padding: auto;
}

.segundoArticulo{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-left: 15%;
    margin-right: 15%;
    border-radius: 10px;
    padding: 1%;
}

.sillon{
    width: 65%;
    height: 65%;
    margin-right: 5%;
    border-bottom: 1px solid #ebebeb;
    display: flex;
    transition: all 0.2s;
    padding: auto;
}

.clase, .precio{
    display: flex;
    justify-content: space-between;
}

p{
    font-size: 20px;
}

.quantity, .colour{
    display: flex;
    justify-content: space-between;
}


select, input{
    background-color: rgba(1,1,1,031.5rem);
    color: black;
    height: auto;
    width: 10vw;
    padding: 10px 10px;
    border: 2px;
    border-radius: 3px;
    font-weight: 500;
    transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out, box-shadow 0.2s ease-in-out, -webkit-box-shadow 0.2s ease-in-out;
    justify-content: center;
}

.silla:hover{
    box-shadow: 0px 0px 10px rgb(100, 100, 100);
    opacity: 0.9;
}


.sillon:hover{
    opacity: 0.9;
    box-shadow: 0px 0px 10px rgb(100, 100, 100);
}

hr{
    background-color: black;
    font-weight: 200px;
    color: black;
    margin-left: 10%;
    margin-right: 10%;
}

.realizar-compra{
    margin-right: 30%;
    margin-left: 30%;
    border-radius: 10px;
    height: auto;
    width: auto;
}

.cuenta-subtotal, .cuenta-delivery, .cuenta-total{
    display: flex;
    justify-content: space-between;
}

.boton-comprar{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

button{
    background-color: #1c1b1b;
    color: white;
    height: auto;
    width: auto;
    padding: 10px 10px;
    border: 2px;
    border-radius: 3px;
    font-weight: 500;
    transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out, box-shadow 0.2s ease-in-out, -webkit-box-shadow 0.2s ease-in-out;
}

button:hover{
    background-color: rgba(0, 0, 0, 0.3);
    color: black;
}



/*@media (max-width: 480px){
    article img{
        margin: 14%;
    }
}
*/
@media (max-width: 768px){
    .quantity, .colour{
        display: none;
}
}