<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head')  %> 
<body>
    
    <%- include('./partials/header') %>
    
    <main>
        <div class="main-container">
            <h1 style="font-size: 300%;">UPS... You got 404'ed</h1>
            <div class="cheems-img">
                <img src="/images/cheems.png" alt="Cheems no puede ser">
            </div>
            <div class="404-msg">
                <p style="font-size: 150%;">La página a la que intentas acceder no existe.</p>
            </div>
        </div>
    </main>

    <%- include('./partials/footer') %>

</body>
</html>
