<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head')  %> 
<body>
    
    <%- include('./partials/header') %>
    
    <main>
        <h1>Luxer Studio</h1>
<div class="about-us-container">
    <img src="/images/logos-luxer/luxerstudio.png" alt="Luxer-Image" class="imagen-producto-pd">
        
    <div class="producto-pd">
<p>LUXER es una empresa orientada al diseño de muebles a medida y proyectos comerciales, corporativos y habitacionales focalizándose en la armonía con el entorno, la funcionalidad y en la búsqueda de aporte de valor a los espacios que nuestro cliente desea transformar. <br>
    Contamos con un equipo capacitado para interpretar la necesidad del cliente y afrontar los desafíos técnicos que el mismo demande. <br>
    <br>
    Nuestro taller de 500 m2 se destaca por su moderno equipamiento contando con maquinas automatizadas y manuales y cabina de pintado propia.
    Más de 3000 productos disponibles online con envío a todo el país. Las últimas tendencias y un showroom en Palermo para que puedas mirar y llevarte lo que te gusta.</p>
        
        </div>
    </div>

    </main>

    <%- include('./partials/footer') %>

</body>
</html>
