<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head')  %> 
<body>
    
    <%- include('./partials/header') %>
    
    <main>
        
<div class="about-us-container">
    <h1>Luxer Studio</h1>
    <p>Desde hace 20 años, Manifesto te acompaña con diseño y calidad en tu casa y oficina. <br>
     Más de 3000 productos disponibles online con envío a todo el país. Las últimas tendencias y un showroom en Palermo para que puedas mirar y llevarte lo que te gusta.</p>
</div>

    </main>

    <%- include('./partials/footer') %>

</body>
</html>
