<!DOCTYPE html>
<html lang="en">

<%- include('./partials/head')  %> 

<body>

    <%- include('./partials/header') %>

<main>
   
<h1 class="users-listado-title">LISTADO DE USUARIOS</h1>
<br>
<div class="listado-users">
<div class="listado-usuario">

    <img class="imagen-usuario" src="images/user-images/homero-simpson.jpg" alt="Imagen de la lámpara">
    
    <form>
        <button type="submit" class="listado-button" href="..productDetails.ejs">Ver Más</button>
      </form>
    <br>

    <div class="info-usuario">
    <h4>Homero Simpson</h4>
    <h5>Administrador</h5>
    </div>
    </div>


<!--  <div class="info-usuario">
        <h4>Homero Simpson</h4>
        <div class="tipo-usuario">
        <h5>Administrador</h5>
        <h5 class="member">Miembro desde 2015</h5>
        </div>
        </div> -->
    
    


<div class="listado-usuario">

    <img class="imagen-usuario" src="images/user-images/marge-simpson.jpg" alt="Imagen de la lámpara">
    
    <form>
        <button type="submit" class="listado-button" href="..productDetails.ejs">Ver Más</button>
      </form>
    <br>
    <div class="info-usuario">
    <h4>Marge Simpson</h4>
    <h5>Administrador</h5>
    </div>
    
</div>

<div class="listado-usuario">

    <img class="imagen-usuario" src="images/user-images/mr-burns.webp" alt="Imagen de la lámpara">
    
    <form>
        <button type="submit" class="listado-button" href="..productDetails.ejs">Ver Más</button>
      </form>
    <br>
    <div class="info-usuario">
    <h4>Mr. Burns</h4>
    <h5>Administrador</h5>
    </div>
    
</div>

<div class="listado-usuario">

    <img class="imagen-usuario" src="images/user-images/lisa-simpson.jpg" alt="Imagen de la lámpara">
    
    <form>
        <button type="submit" class="listado-button" href="..productDetails.ejs">Ver Más</button>
      </form>
    <br>
    <div class="info-usuario">
    <h4>Lisa Simpson</h4>
    <h5>Estándar</h5>
    </div>
    
</div>

<div class="listado-usuario">

    <img class="imagen-usuario" src="images/user-images/bart-simpson.jpg" alt="Imagen de la lámpara">
    
    <form>
        <button type="submit" class="listado-button" href="..productDetails.ejs">Ver Más</button>
      </form>
    <br>
    <div class="info-usuario">
    <h4>Bart Simpson</h4>
    <h5>Estándar</h5>
    </div>
    
</div>

<div class="listado-usuario">

    <img class="imagen-usuario" src="images/user-images/maggie-simpson.jpg" alt="Imagen de la lámpara">
    
    <form>
        <button type="submit" class="listado-button" href="..productDetails.ejs">Ver Más</button>
      </form>
    <br>
    <div class="info-usuario">
    <h4>Maggie Simpson</h4>
    <h5>Estándar</h5>
    </div>
    
</div>

<div class="listado-usuario">

    <img class="imagen-usuario" src="images/user-images/smithers.jpg" alt="Imagen de la lámpara">
    
    <form>
        <button type="submit" class="listado-button" href="..productDetails.ejs">Ver Más</button>
      </form>
    <br>
    <div class="info-usuario">
    <h4>Sr. Smithers</h4>
    <h5>Estándar</h5>
    </div>
    
</div>

<div class="listado-usuario">

    <img class="imagen-usuario" src="images/user-images/ned-flanders.jpg" alt="Imagen de la lámpara">
    
    <form>
        <button type="submit" class="listado-button" href="..productDetails.ejs">Ver Más</button>
      </form>
    <br>
    <div class="info-usuario">
    <h4>Ned Flanders</h4>
    <h5>Estándar</h5>
    </div>
    
</div>

<div class="listado-usuario">

    <img class="imagen-usuario" src="images/user-images/reverendo.jpg" alt="Imagen de la lámpara">
    
    <form>
        <button type="submit" class="listado-button" href="..productDetails.ejs">Ver Más</button>
      </form>
    <br>
    <div class="info-usuario">
    <h4>Reverendo Alegría</h4>
    <h5>Estándar</h5>
    </div>
    
</div>

</div>
</main> 

<%- include('./partials/footer') %>

</body>
</html>