<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head')  %> 
<body>
    <%- include('./partials/header')  %> 

    <main>
        <div class="main-container-createProd">

            <h2 class="title">DAR DE ALTA NUEVO PRODUCTO</h2>

            <form action="/createProduct" method="POST" enctype="multipart/form-data" class="form-prod">
                <div class="field">
                    <label for="nameCreate">Nombre del producto</label><br>
                    <input class="text-input" type="text" name="nameCreate" id="name" required>
                </div>

                <div class="field">
                    <label for="descriptionCreate">Descripción del producto</label><br>
                    <textarea class="description-input" name="descriptionCreate" id="descriptionCreate" cols="50" rows="5" required></textarea>
                </div>
                
                <div class="field">
                    <label for="imagesCreate">Agregar Imágenes</label><br>
                    <input type="file" name="imagesCreate" id="imagesCreate" multiple>
                </div>
                <div class="field">
                    <label for="materialCreate">Material</label>
                    <br>
                    <br>
                    <select name="materialCreate" id="materialCreate" required>
                        <option value="mat-A">Material A</option>
                        <option value="mat-B">Material B</option>
                        <option value="mat-C">Material C</option>
                    </select>
                    
                </div>
                <div class="field">
                    <label for="categoriesCreate">Categorías del producto</label>
                    <br>
                    <br>
                    <label><input type="radio" name="categoryCreate" value="cat-A" id="cat-A">Category A <br></label>
                    <label><input type="radio" name="categoryCreate" value="cat-B" id="cat-B">Category B <br></label>
                    <label><input type="radio" name="categoryCreate" value="cat-C" id="cat-C">Category C <br></label>
                    <label><input type="radio" name="categoryCreate" value="cat-D" id="cat-D">Category D <br></label>
                    <label><input type="radio" name="categoryCreate" value="cat-E" id="cat-E">Category E <br></label>
                </div>
                <div class="field">
                    <label for="priceCreate">Precio</label>
                    <br>
                    <input class = "text-input" type="number" step="100" name="priceCreate" id="priceCreate" placeholder="$" required>
                </div>
                <br>
                <div class="field">
                    <button class = "send-button" type="submit">Crear</button>
                </div>
            </form>
        </div>
    </main>

    <%- include('./partials/footer')  %> 
</body>
</html>