<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head')  %> 
<body>
    
    <%- include('./partials/header') %>

<main>
    <div class="conteiner">
        <div class="imagen-producto">
            <ul class= "slider">
                <li id="slide1">
                    <img src="images/imagen-producto/espejo-glass.jpg">
                </li>
                <li id="slide2">
                    <img src="images/imagen-producto/espejo-round.jpg">
                </li>
                <li id="slide3">
                    <img src="images/imagen-producto/maceta-linda.jpg">
                </li>
            </ul>
            <ul class="menu">
                <li>
                    <a href="#slide1">1</a>
                </li>
                <li>
                    <a href="#slide2">2</a>
                </li>
                <li>
                    <a href="#slide3">3</a>
                </li>
            </ul>
        </div>
    </div>
    
   <div class="home-2">

<div class="new-collection">
    <h2 class="title-nc"> New Collection | Italian Style</h2>
    <img class="imagen-nc" src="images/imagen-producto/sillon-italian.jpg">
        <p class="p-description">Diseño italiano exclusivo importado desde Italia. Estilo vanguardista para otorgar el toque moderno que estás buscando en tu casa. <br> Lorem ipsum, dolor sit amet consectetur adipisicing elit. Repellat eos ducimus earum molestias itaque. Officia molestias vero dolorum nesciunt dolore voluptatem quo. <br> Laboriosam doloribus aspernatur odit rem nemo tempora fuga.</p>

        <form>
    <input type="submit" name="boton" value="Ver Productos" class="boton">
    <input type="submit" name="boton" value="Más Estilos" class="boton">
        </form>
        
</div>


   </div>


<div class= "alsolike-container">

        <h2 class="center">También Puede Gustarte</h2>
       
        <br>
        
        <div class="also-like">
        
        <article class="articulo">
        
        <img class="imagen-alsolike" src="images/imagen-producto/escritorio-white.jpg" alt="Imagen del escritorio">
    
        </article>
        
        <article class="articulo">
        
            <img class="imagen-alsolike" src="images/imagen-producto/sillon-pringles.jpg" alt="Imagen de Sillón Pringles">
            
            
            </article>
        
        <article class="articulo">
        
            <img class="imagen-alsolike" src="images/imagen-producto/sillon-divan.jpg" alt="Imagen de Diván">
                
            
                </article>
        
                
        
        </div>
    </div>
        
   

    
        

    </main>

    <%- include('./partials/footer') %>
    
</body>
</html>
