<%- include('./partials/head') %>

<body>
    
    <%- include('./partials/header') %>
    
    <main>
        <main>
            <div class="contenedor_login">
            <div class="main-instructions-container">
                <h2 class="login">Log in</h2>
                <p>Ingresa tu correo/usuario y contraseña</p>
            </div>
            <form class="main-login-form" action="/login" method="GET">
                    <div class="main-inputs-container">
                        <div class="name-input">
                            <label for="name"></label>
                            <input type="text" name="name" id="name" placeholder="Correo o usuario">
                        </div>
                        <div class="password-input">
                            <label for="password"></label>
                            <input type="password" name="password" id="password" placeholder="Contraseña">
                        </div>                    
                    </div>
                    <div class="toggles-container">
                        <hr>
                        <div class="t-and-c-container">
                            <input type="checkbox" name="t-and-c" id="t-and-c">
                            <label for="t-and-c">Recordar mi usuario en este dispositivo </label>
                        </div>
                        <hr>
                    </div>
                    <div class="create-account-button-container">
                        <button type="reset" class="button_login">Iniciar sesion</button>                                              
                    </div>
                    <div class="">
                        <hr>
                        <button href="/src/pages/register/register.html">Crear una cuenta nueva</button>
                    </div>
            </form>
        </div>
        </main>
    </main>

    <%- include('./partials/footer') %>

</body>
</html>
