<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head')  %> 
<body>
    <%- include('./partials/header')  %> 

    <main>
        <div class="main-container-modifyProd">
            <h2 class="tittle">Modificar un producto</h2>
            <form action="/modifyProduct" method="POST" enctype="multipart/form-data">
                <div class="field">
                    <label for="nameModify">Nombre del producto</label><br>
                    <input type="text" name="nameModify" id="name" required>
                </div>
                <div class="field">
                    <label for="descriptionModify">Descripción del producto</label><br>
                    <textarea name="descriptionModify" id="descriptionModify" cols="50" rows="5" required></textarea>
                </div>
                <div class="field">
                    <label for="imagesModify">Imagen(es) del producto</label><br>
                    <input type="file" name="imagesModify" id="imagesModify" multiple>
                </div>
                <div class="field">
                    <label for="materialModify">Material</label><br>
                    <select name="materialModify" id="materialModify" required>
                        <option value="mat-A-Modify">Material A</option>
                        <option value="mat-B-Modify">Material B</option>
                        <option value="mat-C-Modify">Material C</option>
                    </select>
                </div>
                <div class="field">
                    <label for="categoriesModify">Categorías del producto</label><br>
                    <label><input type="checkbox" name="categoriesModify" value="cat-A-Modify" id="cat-AModify">Category A <br></label>
                    <label><input type="checkbox" name="categoriesModify" value="cat-B-Modify" id="cat-BModify">Category B <br></label>
                    <label><input type="checkbox" name="categoriesModify" value="cat-C-Modify" id="cat-CModify">Category C <br></label>
                    <label><input type="checkbox" name="categoriesModify" value="cat-D-Modify" id="cat-DModify">Category D <br></label>
                    <label><input type="checkbox" name="categoriesModify" value="cat-E-Modify" id="cat-EModify">Category E <br></label>
                </div>
                <div class="field">
                    <label for="priceModify">Precio</label>
                    $<input type="number" step="100" name="priceModify" id="priceModify" placeholder="10,000" required>
                </div>
                <div class="field">
                    <button type="submit">Modificar</button>
                </div>
            </form>
        </div>
    </main>

    <%- include('./partials/footer')  %> 
</body>
</html>