<!DOCTYPE html>
<html lang="en">

<%- include('./partials/head')  %> 

<body>

    <%- include('./partials/header') %>

<main>

    <div class="conteiner-pd">

      <img class="imagen-producto-pd" src="/images/imagen-producto/espejo-glass.jpg"/>


<div class="producto-pd">

<h1>Espejo Glass</h1>
<h3 class="h2precio">$70.500</h3>
<br>
<br>
<p class="descripcion-pd">Realizado en madera maciza, varios estilos. Vidrio premium de 0.50cm de profundidad.</p> 
<br>
<br>
<p class="medidas-pd">Medidas: 180x90cm, 200x110cm, 240x120cm, 260x120cm.</p>
<br>
<br>
<p class="extra-pd">Origen Nacional. Cuidados: Limpieza con paño semi-húmedo o seco.</p>

<br>

<div class="social-icons-pd">

<i class="fa-brands fa-facebook-square"></i>
<i class="fa-solid fa-share"></i>
</div>

<br>
<br>

<label class="mm">Material:</label>
<br>


<div class="elegir-medidas">
    
    <form action="" method="POST" class="form-elegir">

<br>
<label class="label-radio-pd"><input type="radio" name="material" value="Material">Paraíso</label>
<label class="label-radio-pd"><input type="radio" name="material" value="Material">Caoba</label>
<label class="label-radio-pd"><input type="radio" name="material" value="Material">Roble</label>
</div>
</form>


<label class="mm">Medidas:</label>

<br>

<div class= "elegir-medidas">
    <form action="" method="POST" class="form-elegir">         
<br>
<label class="label-radio-pd"><input type="radio" name="medidas" value="Medidas">180x90cm</label>

<label class="label-radio-pd"><input type="radio" name="medidas" value="Medidas">200x110cm</label>

<label class="label-radio-pd"><input type="radio" name="medidas" value="Medidas">240x120cm</label>
</form>

</div>
<label class="mm">Cantidad:</label>
<br>
<br>

<div class="select-option">
<select name="cantidad" id="">
  <option value="1">1</option>
  <option value="2">2</option>
  <option value="3">3</option>

</select> 

</div>

<br>
<br>
<form>
  <button type="submit" class="comprar-button"><a href="/shoppingCart">Comprar</button></a>
</form>

</div>
</div>

<br>
<br>
<br>





<h2 class="center">También Puede Gustarte</h2>
<br>

<div class="also-like">

<article class="articulo">

<img class="imagen-alsolike" src="/images/imagen-producto/escritorio-white.jpg" alt="Imagen del escritorio">
<br>
<div class="info-alsolike">
<h4>Escritorio White</h4>
<h5>$20.500</h5>
</div>

</article>


<article class="articulo">

    <img class="imagen-alsolike" src="/images/imagen-producto/sillon-pringles.jpg" alt="Imagen de Sillón Pringles">
    <br>
    <br>
    <div class="info-alsolike">
    <h4>Sillón Pringles</h4>
    <h5>$40.600</h5>
    </div>
    </article>

<article class="articulo">

    <img class="imagen-alsolike" src="/images/imagen-producto/sillon-divan.jpg" alt="Imagen de Diván">
    <br>
        <div class="info-alsolike">
        <h4>Diván Froyd</h4>
        <h5>$96.000</h5>
        </div>
        </article>

        

</div>




</main> 

<%- include('./partials/footer') %>

</body>
</html>