<!DOCTYPE html>
<html lang="en">

<%- include('./partials/head')  %> 

<body>

    <%- include('./partials/header') %>

<main>


    <div class="conteiner-pd">

      <img class="imagen-producto-pd" src="/images/imagen-producto/espejo-glass.jpg"/>


<div class="producto-pd">

<h2>Luxer Studio</h2>
<h1>Espejo Glass</h1>
<h3 class="h2precio">$18.900 ARS</h3>

<p class="descripcion-pd">Realizado en madera maciza, varios estilos. Vidrio premium de 0.50cm de profundidad. Bordes pulidos para una experiencia visual vanguardista de caracter Canadiense. Ahre que escribía.</p> 
<p class="medidas-pd">Medidas: 180x90cm, 200x110cm, 240x120cm, 260x120cm.</p>
<p class="extra-pd">Origen Nacional. Cuidados: Limpieza con paño semi-húmedo o seco.</p>

<div class="social-icons-pd">

<i class="fa-brands fa-facebook-square"></i>
<i class="fa-solid fa-share"></i>
</div>

<br>
<br>

<label class="mm">Material:</label>
<br>
<br>
<select>
    <option value="">Caoba</option>
    <option value="">Abeto</option>
    <option value="">Abedul</option>
</select>

<br>
<br>

<label class="mm">Medidas:</label>
<br>
<br>

<select>
    <option value="">120x30cm</option>
    <option value="">140x35cm</option>
    <option value="">160x40cm</option>
</select>

<br>
<br>
<form>
  <button type="submit" class="comprar-button"><a href="/shoppingCart">Agregar al Carrito</button></a>
  <button type="submit" class="comprar-button"><a href="/shoppingCart">Comprar</button></a>
</form>

</div>
</div>

<br>
<br>
<br>





<h2 class="center">También Puede Gustarte</h2>
<br>

<div class="also-like">

<article class="articulo">

<img class="imagen-alsolike" src="/images/imagen-producto/escritorio-white.jpg" alt="Imagen del escritorio">
<br>
<div class="info-alsolike">
<h4>Escritorio White</h4>
<h5>$20.500</h5>
</div>

</article>


<article class="articulo">

    <img class="imagen-alsolike" src="/images/imagen-producto/sillon-pringles.jpg" alt="Imagen de Sillón Pringles">
    <br>
    <br>
    <div class="info-alsolike">
    <h4>Sillón Pringles</h4>
    <h5>$40.600</h5>
    </div>
    </article>

<article class="articulo">

    <img class="imagen-alsolike" src="/images/imagen-producto/sillon-divan.jpg" alt="Imagen de Diván">
    <br>
        <div class="info-alsolike">
        <h4>Diván Froyd</h4>
        <h5>$96.000</h5>
        </div>
        </article>

        

</div>




</main> 

<%- include('./partials/footer') %>

</body>
</html>