<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head')  %> 
<body>
    
    <%- include('./partials/header') %>
        
    
    <main>
        
        <h1>¡Muchas gracias por tu compra!</h1>
        <p>En los próximos minutos recibirás en tu correo la información para realizar el pago a través de Transferencia Bancaria</p>
        
        <a href="/"><button class="boton-shop">Seguir Comprando</button></a>
                

            </div>
        
    </main>

        <br>    

        <%- include('./partials/footer') %>
        
</body>
</html>
