<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head')  %> 
<body>
    
    <%- include('./partials/header') %>
        
    
    <main>
        
        <h1>¡Muchas gracias por tu compra!</h1>
        <p>En los próximos minutos recibirás en tu correo la información para realizar el pago a través de Transferencia Bancaria</p>
        
                    <form action="" method="GET">
                        <button class="boton-shop" type="submit" href = "/home">Seguir Comprando</button>
                    </form>
                

            </div>
        
    </main>

        <br>    

        <%- include('./partials/footer') %>
        
</body>
</html>
