<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head')  %> 
<body>
    <%- include('./partials/header') %> 

    <main>
        <div class="main-instructions-container">
            <h2 class="register">REGISTRARSE</h2> 
            <br>
            <p>Completá los siguientes campos y registrate sin costo</p>
        </div>
        <br>
        
        <br>
        <form class="main-register-form" action="/register" method="GET">
            <div class="main-inputs-container">
                <div class="name-input">
                    <label for="name"></label>
                    <input type="text" name="name" id="name" placeholder="Nombre">
                </div>
                <div class="surname-input">
                    <label for="surname"></label>
                    <input type="text" name="surname" id="surname" placeholder="Apellido">
                </div>
                <div class="email-input">    
                    <label for="email"></label>
                    <input type="email" name="email" id="email" placeholder="e-mail">
                </div>
                <div class="password-input">
                    <label for="password"></label>
                    <input type="password" name="password" id="password" placeholder="Contraseña">
                </div>
                <div class="repassword-input">
                    <label for="repassword"></label>
                    <input type="password" name="repassword" id="repassword" placeholder="Verificar contraseña">
                </div>
                <div class="add-profile-pic">
                    <form action="/profile" method="post" enctype="multipart/form-data">
                        <input type="file" name="profile-pic" />
                      </form>
                </div>
            </div>
            <div class="toggles-container">
                <br>
                <div class="t-and-c-container">
                    <input type="checkbox" name="t-and-c" id="t-and-c">
                    <label for="t-and-c">He leído y accepto los <a href="#">Términos & Condiciones</a></label>
                </div>
                <br>
                <div class="newsletter-container">
                    <input type="checkbox" name="newsletter" id="newsletter">
                    <label for="newsletter">Inscribirme al Newsletter de LUXER</label>
                </div>
                <br>
                <hr>
            </div>
            <br>
           
                <div class="field">
                    <button class = "send-button" type="submit">Creá tu Cuenta</button>
                </div>
            
        </form>
    </main>

    <%- include ('./partials/footer') %> 

</body>
</html>