<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head')  %> 
<body>
    <%- include('./partials/header') %> 
    <main>
        <div class="main-instructions-container">
            <h2 class="register">Registro</h2>
            <p>Por favor complete la siguiente informacion</p>
        </div>
        <form class="main-register-form" action="/register" method="GET">
            <div class="main-inputs-container">
                <div class="name-input">
                    <label for="name"></label>
                    <input type="text" name="name" id="name" placeholder="Nombre">
                </div>
                <div class="surname-input">
                    <label for="surname"></label>
                    <input type="text" name="surname" id="surname" placeholder="Apellido">
                </div>
                <div class="email-input">    
                    <label for="email"></label>
                    <input type="email" name="email" id="email" placeholder="e-mail">
                </div>
                <div class="password-input">
                    <label for="password"></label>
                    <input type="password" name="password" id="password" placeholder="Contraseña">
                </div>
                <div class="repassword-input">
                    <label for="repassword"></label>
                    <input type="password" name="repassword" id="repassword" placeholder="Verificar contraseña">
                </div>
            </div>
            <div class="toggles-container">
                <hr>
                <div class="t-and-c-container">
                    <input type="checkbox" name="t-and-c" id="t-and-c">
                    <label for="t-and-c">He leído y accepto los <a href="#">T&C</a></label>
                </div>
                <hr>
                <div class="newsletter-container">
                    <input type="checkbox" name="newsletter" id="newsletter">
                    <label for="newsletter">Inscribirme al Newsletter de LUXER</label>
                </div>
                <hr>
            </div>
            <div class="create-account-button-container">
                <button type="reset">CREAR CUENTA</button>
                <!--Temporarily, the button will only reset the form-->
            </div>
        </form>
    </main>

    <%- include ('./partials/footer') %> 

</body>
</html>