<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/044c3f9b87.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="css/register.css">
    <title>Document</title>
</head>
<body>
    <div class="temporal-colors">
        <p id="color1">color1 #D9D9D9</p>
        <p id="color2">color2 #B8B4B4</p>
        <p id="color3">color3 #A89B95</p>
        <p id="color4">color4 #A68474</p>
    </div>
    <header>
        <!-- [START OF DEPLOYABLE MENU]-->
        <div class="emergent-info">
            <h4>Informacion o promocion emergente</h4>
            <!--Aqui irian promociones de temporada o mensajes variables emergentes-->
        </div>
        <div class="dropdown-menu-container">
            <div class="upper-dropdown-options">
                <i class="displayed-bars fa-solid fa-bars"></i>
                <i class="fa-regular fa-user"></i>
            </div>
            <div class="header-categories-container">
                <ul class="categories-list">
                    <li><a href="#">HOME <i class="fa-solid fa-angle-right"></i></a></li>
                    <hr>
                    <li><a href="#">CAT_1 <i class="fa-solid fa-angle-right"></i></a></li>
                    <hr>
                    <li><a href="#">CAT_2 <i class="fa-solid fa-angle-right"></i></a></li>
                    <hr>
                    <li><a href="#">CAT_3 <i class="fa-solid fa-angle-right"></i></a></li>
                    <hr>
                    <li><a href="#">CAT_4 <i class="fa-solid fa-angle-right"></i></a></li>
                    <hr>
                    <li><a href="#">CAT_5 <i class="fa-solid fa-angle-right"></i></a></li>
                    <hr>
                    <li><a href="#">CAT_6 <i class="fa-solid fa-angle-right"></i></a></li>
                    <hr>
                </ul>
            </div>
            <form class="navigation-form" action="/register">
                <div class="navigation">
                    <input type="text" class="nav-bar"> <button type="reset" class="search-button"><i class="fa-solid fa-magnifying-glass"></i></button>
                    <!--Temporarily, the button will reset the search-->
                </div>
            </form>
        </div>
        <!--[END OF DEPLOYABLE MENU]-->
        <div class="simplified-header-container">
            <i class="concealed-bars fa-solid fa-bars"></i>
            <div class="horizontal-categories-nav-container">
                <ul class="horizontal-categories-nav">
                    <li><a href="/" class="home-horizontal">HOME</a></li>
                    <li><a href="#" class="cat-1-horizontal">CAT_1</a></li>
                    <li><a href="#" class="cat-2-horizontal">CAT_2</a></li>
                    <li><a href="#" class="cat-3-horizontal">CAT_3</a></li>
                </ul>
            </div>
            <div class="main-title-container">
                <h1 class="main-title">LUXER</h1>
            </div>
            <div class="navigation">
                <input type="text" class="nav-bar"> <button type="reset" class="search-button"><i class="fa-solid fa-magnifying-glass"></i></button>
                <!--Temporarily, the button will reset the search-->
            </div>
            <div class="shopping-cart-container">
                <i class="fa-solid fa-cart-shopping"></i>
            </div>
        </div>
    </header>
    <main>
        <div class="main-instructions-container">
            <h2 class="register">Registro</h2>
            <p>Por favor complete la siguiente informacion</p>
        </div>
        <form class="main-register-form" action="/register" method="GET">
            <div class="main-inputs-container">
                <div class="name-input">
                    <label for="name"></label>
                    <input type="text" name="name" id="name" placeholder="Nombre">
                </div>
                <div class="surname-input">
                    <label for="surname"></label>
                    <input type="text" name="surname" id="surname" placeholder="Apellido">
                </div>
                <div class="email-input">    
                    <label for="email"></label>
                    <input type="email" name="email" id="email" placeholder="e-mail">
                </div>
                <div class="password-input">
                    <label for="password"></label>
                    <input type="password" name="password" id="password" placeholder="Contraseña">
                </div>
                <div class="repassword-input">
                    <label for="repassword"></label>
                    <input type="password" name="repassword" id="repassword" placeholder="Verificar contraseña">
                </div>
            </div>
            <div class="toggles-container">
                <hr>
                <div class="t-and-c-container">
                    <input type="checkbox" name="t-and-c" id="t-and-c">
                    <label for="t-and-c">He leído y accepto los <a href="#">T&C</a></label>
                </div>
                <hr>
                <div class="newsletter-container">
                    <input type="checkbox" name="newsletter" id="newsletter">
                    <label for="newsletter">Inscribirme al Newsletter de LUXER</label>
                </div>
                <hr>
            </div>
            <div class="create-account-button-container">
                <button type="reset">CREAR CUENTA</button>
                <!--Temporarily, the button will only reset the form-->
            </div>
        </form>
    </main>
    <footer>
        <div class="footer-categories-container">
            <hr>
            <div class="footer-cat-1-container">
                <h3 class="footer-cat-1"><a href="#"> Footer Category 1<i class="fa-solid fa-angle-right"></i></a></h3>
            </div>
            <hr>
            <div class="footer-cat-2-container">
                <h3 class="footer-cat-2"><a href="#"> Footer Category 2<i class="fa-solid fa-angle-right"></i></a></h3>
            </div>
            <hr>
            <div class="footer-cat-3-container">
                <h3 class="footer-cat-3"><a href="#"> Footer Category 3<i class="fa-solid fa-angle-right"></i></a></h3>
            </div>
            <hr>
            <div class="footer-cat-4-container">
                <h3 class="footer-cat-4"><a href="#"> Footer Category 4<i class="fa-solid fa-angle-right"></i></a></h3>
            </div>
            <hr>
        </div>
        <div class="copyright-container">
            <h5><i class="fa-regular fa-copyright"></i>Lorem ipsum dolor sit amet consectetur, adipisicing elit.</h5>
        </div>
    </footer>
</body>
</html>