<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head')  %> 
<body>
    
    <%- include('./partials/header') %>
        
    
    <main>
        
        <main class="productCart">
            <div class="contenedor">
                <div class="cartItems">
                
                        <h1 class ="title">Carrito de Compras</h1>
                    
                    
                    <div class="item">
                        <div class="image">
                            <img src="./images/imagen-producto/sillon-negro.jpg" alt="producto">
                        </div>

                        <div class="description">
                            <h2>Sillón Negro</h2>
                            <p>Un sillón negro sin mucha ciencia.</p>
                            <p>$29.000 ARS</p>
                        </div>

                        <div class="total-price">$29.000 ARS</div>

                        <div class="buttons">
                            <span class="delete-btn"><i class="fa-solid fa-trash-can"></i>
                            </span>
                            
                        </div>
                    </div>

                    
                    <div class="item">
                        <div class="image">
                            <img style="mix-blend-mode: multiply;" src="./images/imagen-producto/sillon-negro.jpg">
                        </div>

                        <div class="description">
                            <h2>Silla Naranja</h2>
                            <p>La mejor silla naranja de tu vida, amén.</p>
                            <p>$16.400 ARS</p>
                        </div>

                        <div class="total-price">$16.400 ARS</div>

                        <div class="buttons">
                            <span class="delete-btn"><i class="fa-solid fa-trash-can"></i>
                            </span>
                            
                        </div>
                    </div>

                    
                </div>
                
                <section class="summary">
                    <h1>Resumen de Compra</h1>
                        <br>
                    <h2>Total Productos</h2>
                    <h4>$59.900 ARS</h4>
                        <br>
                    <h2>Envío</h2>
                    <h4>$900 ARS</h4>
                        <br>
                    <h2>Total</h2>
                    <h2>$60.400 ARS</h2>
                        <br>
                    <form action="" method="GET">
                        <button class="boton-shop" type="submit">Comprar</button>
                    </form>
                </section>

            </div>
        
    </main>

        <br>    

        <%- include('./partials/footer') %>
        
</body>
</html>
