<%- include('./partials/head') %>

<body>
    
    <%- include('./partials/header') %>
        
    
    <main>
        <br>
        
        <section> 
            <h2>Carrito de compras</h2>
        <br>
            <hr>
            
            <br>
            <article>
                <div class="primerArticulo">   
                    <img class="silla" src="images/Silla.webp" alt="Imagen de silla">
                    <div class="flex1">
                        <h4> <em> Bestseller</em> </h4> 
                        <br>
                        <div class="clase">
                            <h3 class="clase">SILLA TERCIOPELO</h3>
                            <h3 class="precio">$61.00</h3>
                        </div>
                        <br>
                        <div class="descripcion">
                             <p><em>Lorem ipsum dolor sit amet consectetur adipisicing elit</em></p>
                        </div>
                        <br>
                        <div class="colour"> 
                            <h4>Color </h4>
                            <select name="colores" id="">
                                <option value="1">Brown</option>
                                <option value="2">Black</option>
                                <option value="3">Green</option>
                                <option value="4">Red</option>
                                <option value="5">Blue</option>
                            </select> 
                        </div>
                        <br>
                        <div class="quantity">
                            <h4>Cantidad</h4>
                            <input id="Cantidad" type="number" name="Cantidad" value="1">
                        </div>
                        <br>
                        <div class="edit">
                            <a href=""><i class="fa-solid fa-pen"></i>Editar</a>
                        </div>
                        <br>
                        <div class="wishlist">
                            <a href=""><i class="fa-regular fa-heart"></i>Mis compras</a>
                        </div>
                        <br>
                        <div class="remove">
                            <a href=""><i class="fa-regular fa-trash-can"></i>Eliminar</a>
                        </div>
                </div>
            </article>
                 
        <br>
            
        <hr>

        <br>
        <article>
            <div class="segundoArticulo">   
                <img class="sillon" src="images/sillon.jpg" alt="Imagen de sillon">
                <div class="flex2">
                    <div class="clase">
                        <h3 class="clase">SILLON HIERRO</h3>
                        <h3 class="precio">$319.50</h3>
                   </div>
                    <br>
                    <div class="descripcion">
                         <p><em>Lorem ipsum dolor sit amet consectetur adipisicing elit</em></p>
                    </div>
                    <br>
                    <div class="colour"> 
                        <h4>Color </h4>
                        <select name="colores" id="">
                            <option value="1">Black / Grey</option>
                            <option value="2">Black / Blue</option>
                        </select> 
                    </div>
                    <br>
                    <div class="quantity">
                        <h4>Cantidad</h4>
                        <input id="Cantidad" type="number" name="Cantidad" value="1">
                    </div>
                    <br>
                    <div class="edit">
                        <a href=""><i class="fa-solid fa-pen"></i>Editar</a>
                    </div>
                    <br>
                    <div class="wishlist">
                        <a href=""><i class="fa-regular fa-heart"></i>Mis compras</a>
                    </div>
                    <br>
                    <div class="remove">
                        <a href=""><i class="fa-regular fa-trash-can"></i>Eliminar</a>
                    </div>
            </div>
        </article>
        
        </section>
        <br>
        
        <hr>
        
        <br>
        
        <section>
            <div class="realizar-compra">    
                <div class="cuenta-subtotal">
                   <h4>Subtotal </h4>
                   <h4>$380.50</h4>
                </div>
                <br>
                <div class="cuenta-delivery">
                    <h4>Delivery</h4>
                    <h4>$35</h4>
                </div>
                <br>
                <hr>
                <br>
                <div class="cuenta-total">
                    <h3>Total</h3>
                    <h3>$415.50</h3>
                </div>
                </div>
                <br>
                <hr>
            </div> 
            <br>
            <div class="boton-comprar">
                <button type="submit">Continuar compra</button>
            </div> 
            <br>
        </section>
    </main>

        <br>    

        <%- include('./partials/footer') %>
        
</body>
</html>
