<!DOCTYPE html>
<html lang="en">

<%- include('./partials/head')  %> 

<body>

    <%- include('./partials/header') %>

<main>

    <div class="conteiner-pd">

      <img class="imagen-producto-pd" src="images/user-images/homero-simpson.jpg" alt = "Homero">


<div class="producto-pd">

<h1>Homero Simpson</h1>
<h3 class="h2precio">Administrador</h3>
<br>

<p class="descripcion-pd">Miembro desde el 29 de Noviembre de 2015</p> 
<br>
<div class="social-icons-pd">

    <i class="fa-solid fa-star"></i>
    <i class="fa-solid fa-star"></i>
    <i class="fa-solid fa-star-half-stroke"></i>
</div>
<br>

<p class="descripcion-pd">Administrador Nivel 4.5</p>

<br>
<br>

<form>
  <button type="submit" class="comprar-button" href="">Últimas Compras</button>
  <br>
  <br>
  <button type="submit" class="comprar-button" href="">Enviar Mensaje</button>
</form>

<br>
<br>

</div>
</div>

<br>
<br>
<br>





<h2 class="center">Más Usuarios</h2>
<br>

<div class="also-like">

<article class="articulo">

<img class="imagen-alsolike" src="images/user-images/marge-simpson.jpg" alt="Marge">
<br>
<div class="info-alsolike">
<h4>Marge Simpson</h4>
<h5>Administrador</h5>
</div>

</article>


<article class="articulo">

    <img class="imagen-alsolike" src="images/user-images/mr-burns.webp" alt="Burns">
    <br>
    <br>
    <div class="info-alsolike">
    <h4>Mr. Burns</h4>
    <h5>Administrador</h5>
    </div>
    </article>

<article class="articulo">

    <img class="imagen-alsolike" src="images/user-images/ned-flanders.webp" alt="Ned">
    <br>
        <div class="info-alsolike">
        <h4>Ned Flanders</h4>
        <h5>Estándar</h5>
        </div>
        </article>

        

</div>




</main> 

<%- include('./partials/footer') %>

</body>
</html>