<footer>
    <div class="div-footer" id="footer">
        <div class="bloque-footer">
            <h4>Luxer Studio</h4>
            <br>
            <p>Mueblería de diseño contemporáneo.</p>
            <p>Productos Exclusivos para poner tu casa a tono.</p>
        </div>
        <div class="bloque-footer">            
            <h4>Contacto</h4>
            <br>
            <p>Avenida del Libertador 1073, Recoleta, CABA.</p>
            <p>Lunes a Sábados de 11 a 19:30 hs.</p>
            <p>+54 9 11 2276-9785</p>
        </div>
        <div class="bloque-footer">
            <h4>Newsletter</h4>
            <br>
            <p>No te pierdas las últimas novedades y ofertas</p>
            <form action="" method="POST" class="caja-form">
                <input id="footerEmail" type="footerEmail" name="footerEmail" placeholder="Ingresá tu e-mail" required class="estilo-input">
                <!--Temporalmente el boton resetea el formulario-->
                <button type="submit" class="submit-button">Suscribite</button>
            </form>
        </div>
    </div>
    <div class="copyright-container">
        <h6 class="copyright">Copyright © 2022 Luxer Studio SA </h6>
    </div>
</footer>