<header>
    
    <div class="emergent-info">
       
        <!--Aqui irian promociones de temporada o mensajes variables emergentes-->
    </div>

    <div class="dropdown-menu-container">
        <div class="upper-dropdown-options">
            <i class="displayed-bars fa-solid fa-bars"></i>
            <i class="fa-regular fa-user"></i>
        </div>
       
        <form class="navigation-form" action="/register">
            <div class="navigation">
                <input type="text" class="nav-bar"> <button type="reset" class="search-button"><i class="fa-solid fa-magnifying-glass"></i></button>
                <!--Temporarily, the button will reset the search-->
            </div>
        </form>
    </div>
    <!--[END OF DEPLOYABLE MENU]-->
    <div class="simplified-header-container">
        <div class="menu-hamburguesa"><i class="concealed-bars fa-solid fa-bars"></i></div>
        <div class="horizontal-categories-nav-container">
            <ul class="horizontal-categories-nav">
                <li><a href="#" class="estilo-nav">HOME</a></li>
                <li><a href="#" class="estilo-nav">New In</a></li>
                <li><a href="#" class="estilo-nav">Bedroom</a></li>
                <li><a href="#" class="estilo-nav">Living Room</a></li>
                <li><a href="#" class="estilo-nav">Contact</a></li>
            </ul>
        </div>
        
        <div class="main-title-container"> 
        <img class="imagen-logo" src="images\logos-luxer\luxerstudiochiquito.png">
        </div>

        <form class="busqueda">
          <input type="text" placeholder="">
          <button class="magnifier" type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
      </form>
      <ul><br></ul>
        <div class="shopping-cart-container">
            <li><a class="fa-solid fa-cart-shopping"></a></li>
        </div>
    </div>
</header>