<header>
    <div class="emergent-info">
        <!--Aqui irian promociones de temporada o mensajes variables emergentes-->
    </div>
    <div class="dropdown-menu-container">
        <div class="upper-dropdown-options">
            <i class="displayed-bars fa-solid fa-bars"></i>
            <a href="/login"><i class="fa-regular fa-user"></i></a>
        </div>
        <form class="navigation-form-dropdown-menu" action="/">
            <div class="navigation-dropdown-menu">
                <input type="text" class="nav-bar"> <button type="reset" class="search-button"><i class="fa-solid fa-magnifying-glass"></i></button>
                <!--Temporarily, the button will reset the search-->
            </div>
        </form>
        <nav class="deployable-categories-header">
            <ul class="categories-list-header">
                <li><a href="/" class="deployable-header-nav">Home</a></li><hr>
                <li><a href="/products" class="deployable-header-nav">Products</a></li><hr>
                <li><a href="/products" class="deployable-header-nav">Sale</a></li><hr>
                <li><a href="#footer" class="deployable-header-nav">Contact</a></li><hr>
                <li><a href="#footer" class="deployable-header-nav">About Us</a></li><hr>
            </ul>
        </nav>
    </div>
    <!--[END OF DEPLOYABLE MENU]-->
    <div class="simplified-header-container">
        <div class="burger-menu-container">
            <i class="concealed-bars fa-solid fa-bars"></i>
        </div>
        <div class="horizontal-categories-nav-container">
            <ul class="horizontal-categories-nav">
                <li><a href="/" class="estilo-nav">Home</a></li>
                <li><a href="/products" class="estilo-nav">Products</a></li>
                <li><a href="/products" class="estilo-nav">Sale</a></li>
            </ul>
        </div>
        <div class="main-title-container"> 
            <a href="/"><img class="imagen-logo" src="/images\logos-luxer\luxerstudiochiquito.png"></a>
        </div>
        <!-- No esta siendo utilizado en el momento, aparecera unicamente en products-->
        <form class="busqueda">
            <input class = "busqueda-v" type="text" name="busqueda" placeholder="Busqueda">
        </form>
        <div class="header-icons-container">
            <a href="/login">
                <% if(locals.user){ %>
                    <p class="user-name"><%= locals.user.name %> </p>
                <% } %> 
            </a>
            <div class="user-container">
                <a href="/login"><i class="fa-regular fa-user"></i></a>
            </div>
            <a href="../shoppingCart"><i class="fa-solid fa-cart-shopping"></i></a>
        </div>
    </div>
</header>